APP_NAME='Taxi Dominicana'
APP_ENV=local
APP_KEY=base64:N9GkMAV9SrD+ZyIF/warAKtsZW0IjrDEpZkF4oj8xc0=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_URL=redis://default:hlmHdOcFn5NGmnBkHjnIb4ga466OaHC1@monorail.proxy.rlwy.net:45754

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

OCTANE_SERVER=roadrunner

PAGE_EMAIL='bookings@taxidominicana.com'
PAGE_PHONE_MX='+52 (998) 387 0238'
PAGE_PHONE_US='+1 (929) 999-4972'
MAILJET_KEY='26b03aa14a5dda5e081c43dcbd0b6244'
MAILJET_SECRET='e819b1c8b5bb205a23fe2048e8c59832'
CAPTCHA_PUBLIC='6LfvQVooAAAAACqxjq_sh-zf1J-m_d5j7F71NiUr'
CAPTCHA_SECRET='6LfvQVooAAAAAHUi0HhAitzadBBLKhVRvbB9IS8L'
NIXPACKS_BUILD_CMD='composer install && php artisan optimize && php artisan config:cache && php artisan route:cache && php artisan view:cache'